In [36]:
import pandas as pd

df = pd.read_json('../data/businesses.json', lines=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   businesses  1 non-null      object
 1   total       1 non-null      int64
 2   region      1 non-null      object
dtypes: int64(1), object(2)
memory usage: 152.0+ bytes

In [22]:
df['total']

0    15000
Name: total, dtype: int64

In [24]:
df['region'][0]

{'center': {'longitude': -73.99429321289062, 'latitude': 40.70544486444615}}

In [34]:
for business in df['businesses'][0]:
    print(business['name'])

Olio e Più
Ye's Apothecary 夜莺
LoveMama
The Osprey
Kalye
The Parlour Room
Amélie
Fishmarket Restaurant
Da Andrea - Chelsea
Anytime Kitchen
Soothr
Raku
Thursday Kitchen
Raku
Gurumé
Blue Willow 夜来湘
The Reading Room
ARIARI
Rubirosa
Evelina